<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
    <div class="image-news">
      <img src="./assets/images/decor/n1.webp">
      <div class="text-block">
        <a routerLink="/news/1">Learn more</a>
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="image-news">
      <img src="./assets/images/decor/n2.webp">
      <div class="text-block">
        <a routerLink="/news/1">Learn more</a>
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="image-news">
      <img src="./assets/images/decor/n3.webp">
      <div class="text-block">
        <a routerLink="/news/1">Learn more</a>
      </div>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="image-news">
      <img src="./assets/images/decor/n4.webp">
      <div class="text-block">
        <a routerLink="/news/1">Learn more</a>
      </div>
    </div>
  </ng-template>
</owl-carousel-o>
