<owl-carousel-o [options]="customOptions">
  <ng-template carouselSlide>
    <div class="image-news">
      <a routerLink="/news/1"><img src="./assets/images/decor/n1.webp" matTooltip="CFS Cyprus Film School and The Banished Inc. collaborate on Innovative Film Solution">
      <div class="text-block">
        Learn more
      </div></a>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="image-news">
      <a routerLink="/news/3"><img src="./assets/images/decor/n2.webp" matTooltip="Our new music partners for 'The Banished' series">
      <div class="text-block">
        Learn more
      </div></a>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="image-news">
      <a routerLink="/news/2"><img src="./assets/images/decor/n3.webp" matTooltip="Merry Christmas and a Happy New Year!">
      <div class="text-block">
        Learn more
      </div></a>
    </div>
  </ng-template>
  <ng-template carouselSlide>
    <div class="image-news">
      <a routerLink="/news/4"><img src="./assets/images/decor/n4.webp" matTooltip="Happy Valentine's Day!">
        <div class="text-block">
          Learn more
        </div></a>
    </div>
  </ng-template>
</owl-carousel-o>
