.wrapper
{
  background-color: #0e0d0b;
  padding: 25px;
}

.title-film
{
  font-family: UniSansThin, sans-serif;
  font-size: 35px;
  text-align: center;
  margin: 10px;
}

.film-card
{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
}

.film-block
{
  margin: auto auto;
  max-width: 800px;
  padding: 25px;
}

.title-page
{
  grid-area: 1/1;
  margin: auto;
}

.title-page img
{
  width: 100%;
}

.description
{
  max-width: 600px;
  grid-area: 1/1;
  margin: auto auto;
  padding: 25px;
  background-color: rgba(0,0,0,.65);
}

.title-year
{
  margin-bottom: 5px;
  font-size: 16px;
  color: darkgrey;
}

.title-genre
{
  margin-bottom: 10px;
  font-size: 16px;
}

.title-status
{
  font-style: italic;
  color: darkgrey;
  font-size: 16px;
}

.description-text
{
  opacity: 1;
}
