.wrapper
{
  background-color: #0e0d0b;
}

.wrapper a
{
  text-decoration: none;
}


.stories
{
  margin: auto auto;
  max-width: 1200px;
  padding: 25px;
}

.image-film
{
  max-width: 600px;
  margin: 5px;
}

.image-film img
{
  width: 100%;
}

.text-block
{
  position: absolute;
  background-color: black;
  color: #e2e2e2;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: opacity(65%);
  padding: 3px;
  border-radius: 7px;
  font-family: UniSansThin, sans-serif;
  font-size: 25px;
  text-align: center;
  margin-bottom: 10px;
  text-decoration: none;
}
