.main
{
  background-image: url('/assets/images/decor/home.jpg');
  background-repeat: repeat;
}

.back
{
  background-color:rgba(0, 0, 0, .75);
}

.content
{
  opacity: 1;
  padding-left: 5em;
  padding-right: 5em;
  padding-top: 5em;
  height: fit-content;
  font-family: "Arial Narrow", sans-serif;
  padding-bottom: 350px;
}

.content h1
{
  font-family: UniSansHeavy, serif;
}

.content h2 h3
{
  font-family: UniSansThin, sans-serif;
}

.titles
{
  margin-top: 10px;
  margin-bottom: 10px;;
}

.content a
{
  text-decoration: none;
  font-weight: bolder;
}

.button-31 {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 10px;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.button-31:hover,
.button-31:focus {
  opacity: .75;
}
