.containter
{
  max-height: 80vh;
  background-color: #0e0d0b;
}

.news-content
{
  margin: auto auto;
  max-width: 800px;
  padding: 25px;
}

.image-news
{
  width: 200px;
  height: 300px;
}

.image-news img
{
  width: 100%;
}

.news-title
{

}

.news-item
{
  display: inline-block;
  margin: 5px;
  box-shadow: 10px 5px 5px #81040a;
  position: relative;
}

.text-block
{
  position: absolute;
  background-color: black;
  color: #e2e2e2;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: opacity(85%);
  padding: 3px;
  border: #e2e2e2;
  border-width: 2px;
  border-style: solid;
  font-size: 15px;
  border-radius: 7px;
}
