.container
{
  height: fit-content;
  display: grid;
}

.main-art
{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.main-art-box
{
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  margin: 0;
  padding: 0;
  opacity: 1;
  grid-area: 1/1;
}

.overlay
{
  background-color:rgba(0, 0, 0, .7);
  height: 100%;
  grid-area: 1/1;
  z-index: 10;
  transition: all .3s ease-in-out;
  opacity: 0;
}

.overlay-content
{
  opacity: 0;
  margin-top: 30%;
  margin-bottom: auto;
  z-index:11;
  margin-left: 50px;
  transition: all .3s ease-in-out;
  max-width: 95vw;
}

.title
{
  font-size: 45px;
}

.gallery-vid
{
  display: flex;
  overflow-x: scroll;
  width: 100%;
}

.gallery-item
{
  background-color: #e2e2e2;
  display: inline-block;
  margin: 10px;
  min-width: 300px;
}

.title-vid
{
  color: gray;
  font-weight: bold;
  text-align: center;
  margin: 5px;
  font-size: 17px;
}

.desc-vid
{
  color: #24252a;
  padding: 15px;
  font-weight: bold;
  text-align: center;
  font-size: 15px;
  font-family: UniSansHeavy, serif;
}

.image-vid
{
  width: 100%;
}

.image-vid img
{
  width: 100%;
}

.doc-links
{
  text-align: center;
  margin-top: 10px;
}

.doc-item
{
  font-size: 17px;
  display: inline-block;
  margin-right: 10px;
}
.doc-item a
{
  text-decoration: none;
}

.logo-art
{
  width: 100%;
}

.logo-item
{
  max-width: 95px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  opacity: 70%;
}
