.wrapper
{
  background-color: #0e0d0b;
  padding: 25px;
}


.wrapper a
{
  text-decoration: none;
}

.stories
{
  margin: auto auto;
  max-width: 800px;
  padding: 25px;
}

.image-comics
{
  max-width: 300px;
  margin: 5px;
  position: relative;
}

.image-news img
{
  width: 100%;
}

.comics-title
{
  font-family: UniSansThin, sans-serif;
  font-size: 25px;
  text-align: center;
  margin-bottom: 10px;
  text-decoration: none;
}


.text-block
{
  position: absolute;
  color: #e2e2e2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: UniSansThin, sans-serif;
  font-size: 25px;
  text-align: center;
  text-decoration: none;
}

.button-block
{
  left: 90%;
}
