.menubar
{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
  width: 100%;
  background-color: black;
  height: 80px;
}

.media
{
  display: inherit;
  margin: auto;
  text-align: center;
}
.icon-block i
{
  padding: 2px;
  cursor: pointer;
  font-size: 25px;
}

.titles
{
  display: inherit;
  margin: auto;
  text-align: center;
}
