.wrapper
{
  background-color: #0e0d0b;
}

.text
{
  margin: auto auto;
  max-width: 60vw;
  padding: 3em;
  word-wrap: break-word;
}

.logo-box
{
  margin: auto auto;
  max-width: 50vw;
  display: grid;
  grid-template-columns: auto auto auto;
  place-items: center;
}

.logo-box img
{
  max-width: 10em;
  max-height: 10em;
  padding: 2em;
}
