.wrapper
{
  background-color: #0e0d0b;
}

.text
{
  margin: auto auto;
  max-width: 800px;
  padding: 25px;
  word-wrap: break-word;
}

.logo-box
{
  margin: auto auto;
  max-width: 600px;
}

.logo-box img
{
  margin: 15px;
  max-width: 150px;
  max-height: 150px;
}
