.data-box-foot
{
  padding: 0;
  margin: 0;
}

.copyright
{
  text-align: center;
  padding: 0;
  z-index: 0;
  margin-top: -50px;
}

.back-down
{
  margin-top: -350px;
  z-index: 1;
}

.footer-image
{
  width: 100%;
  padding: 0;
  margin: 0;
  z-index: 1;
}

.black-panel
{
  background-color: black;
  padding: 3px;
  margin-top: -5px;
  z-index: 0;
}
