.wrapper
{
  background-color: #0e0d0b;
}

.news-blocks
{
  margin: auto auto;
  max-width: 800px;
  padding: 25px;
}

.news-art
{
  width: 100%;
  height: 100%;
  filter: brightness(1) opacity(0.8) grayscale(1);
  background-blend-mode: soft-light;
  transition: 1s linear;
  cursor: help;
}

.news-art:hover
{
  filter: none;
}

.news-item
{
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
}

.art-box
{
  max-width: 300px;
  grid-area: 1/1;
  margin: 20px;
}

.text-news-block
{
  max-width: 600px;
  grid-area: 1/2;
  margin: 20px;
}

.news-prev-text
{
  margin-top: 10px;
  margin-bottom: 10px;
  word-wrap: break-word;
}

.new-title
{
  font-family: UniSansThin, sans-serif;
  font-size: 20px;
}
