.wrapper {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
  background-color: black;
  height: fit-content;
  width: 100%;
  min-width: 98vw;
}

.down
{
  width: 100%;
  height: fit-content;
  grid-area: 2/1;
  z-index: 1;
}

.nav
{
  max-height: 50px;
  grid-area: 1/1;
  z-index: 1;
  margin-top: 10px;
}

.pages
{
  height: fit-content;
  width: 100%;
  grid-area: 1/1;
  z-index: 0;
}

