.wrapper {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto auto auto;
  width: fit-content;
  background-color: black;
}

.down
{
  width: 100%;
  grid-area: 4/1;
}

.nav
{
  max-height: 50px;
  grid-area: 1/1;
  z-index: 1;
  margin-top: 10px;
  width: 100%;
}

.header
{
  width: 100%;
  grid-area: 1/1;
}

.menu
{
  width: 100%;
  grid-area: 2/1;
}

.pages
{
  width: 100%;
  grid-area: 3/1;
  z-index: 1;
}

