.projects-art
{
  width: 100%;
  height: 100%;
  grid-area: 1/1;
}

.projects-box
{
  width: 100%;
  height: fit-content;
  display: grid;
}

.projects-links
{
  margin-top: 70%;
  z-index:11;
  grid-area: 1/1;
  max-width: 100vw;
}

.projects-item
{
  display: inline-block;
  transition: 1s;
  cursor: pointer;
  overflow: hidden;
}

.projects-art-item
{
  width: 100%;
  border-radius: 150px; /* Радиус скругления */
  box-shadow: 0 0 7px #666; /* Параметры тени */
}

.projects-item:hover
{
  transform: scale(1.2);
}
