.wrapper
{
  background-color: #0e0d0b;
}

.card
{
  padding: 25px;
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto;
}

.card img
{
  width: 100%;
}


.image-left
{
  max-width: 300px;
  grid-area: 1/1;
  margin: 20px;
}

.text-right
{
  max-width: 800px;
  grid-area: 1/2;
  margin: 20px;
}


.image-right
{
  max-width: 300px;
  grid-area: 1/2;
  margin: 20px;
}

.text-left
{
  max-width: 800px;
  grid-area: 1/1;
  margin: 20px;
}
