.main
{
  background-color: #0e0d0b;
}

.content
{
  opacity: 1;
  padding-left: 5em;
  padding-right: 5em;
  padding-top: 5em;
  height: fit-content;
  font-family: "Arial Narrow", sans-serif;
  padding-bottom: 5em;
}

.content h1
{
  font-family: UniSansHeavy, serif;
}

.content h2 h3
{
  font-family: UniSansThin, sans-serif;
}

.titles
{
  margin-top: 10px;
  margin-bottom: 10px;;
}

.content a
{
  text-decoration: none;
  font-weight: bolder;
}

.content a:hover
{
  color: #666666;
}
