.navbar {
  background-color: black;
  margin: 0;
  z-index: 0;
  filter: opacity(76%);
  display: flex;
  justify-content: space-between;
  align-content: space-between;
}

.navbar a:hover
{
  color: #666666;
}

.banished:hover
{
  color: #666666;
}

.banished
{
  display: inline-flex;
  font-size: 25px;
  vertical-align: middle;
  padding: 0px;
  margin: 0px;
}

.the
{
  font-size: 11px;
  rotate: 270deg;
  padding-top: 12px;
}

.menu-item {
  font-size: 20px;
  text-decoration: none;
  vertical-align: middle;
  padding: 5px;
}

.menu {
  display: inline-flex;
  vertical-align: middle;
  padding: 5px;
}

.logo {
  display: inline-flex;
  vertical-align: middle;
  padding: 5px;
}

.hovered:hover {
  color: #81040a;
}

.lk
{
  display: inline-flex;
  vertical-align: middle;
  padding: 5px;
}

.lk-item
{
  font-size: 15px;
  text-decoration: none;
  vertical-align: baseline;
  padding: 5px;
}

.fa-search:hover
{
  color: #666666;
}

.lk-icon
{
  text-decoration: none;
  vertical-align: middle;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 0;
  padding-right: 0;
  cursor: pointer;
}

.bold-link
{
  font-family: UniSansHeavy;
}


