.navbar {
  background-color: black;
  margin: 0;
  z-index: 0;
  filter: opacity(76%);
  display: flex;
  justify-content: space-between;
  align-content: space-between;
  font-family: UniSansThin, sans-serif;
}

.navbar a:hover
{
  color: #666666;
}

.banished:hover
{
  color: #666666;
}

.banished
{
  display: inline-flex;
  font-size: 25px;
  padding: 0px;
  margin-bottom: auto;
  margin-top: auto;
}

.the
{
  font-size: 11px;
  rotate: 270deg;
  padding-top: 12px;
  margin-bottom: auto;
  margin-top: auto;
}

.menu-item {
  font-size: 20px;
  text-decoration: none;
  vertical-align: middle;
  padding: 3px;
  padding-left: 10px;
}

.menu {
  display: inline-flex;
  vertical-align: middle;
  padding: 5px;
}

.logo {
  display: inline-flex;
  vertical-align: middle;
  padding: 5px;
}

.hovered:hover {
  color: #81040a;
}

.lk
{
  display: inline-flex;
  vertical-align: middle;
}

.lk-item
{
  font-size: 15px;
  text-decoration: none;
  margin-bottom: auto;
  margin-top: auto;
  padding: 3px;
  padding-right: 10px;
}

.fa-search:hover
{
  color: #666666;
}

.lk-icon
{
  text-decoration: none;
  cursor: pointer;
  margin-bottom: auto;
  margin-top: auto;
}

.bold-link
{
  font-family: UniSansThin, sans-serif;
}


.search
{
  display: inline-flex;
  border: #e2e2e2;
  border-width: 2px;
  border-style: solid;
  width: 200px;
  margin-right: 5px;
  border-radius: 30px;
  height: 50%;
  margin-bottom: auto;
  margin-top: auto;
}
