.navbar {
  overflow: hidden;
  background-color: #24252a;
  font-family: "Century Gothic", sans-serif;
  margin: 0;
  z-index: 0;
}

.navbar a {
  font-size: 16px;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
  z-index: 0;
}

.centered
{
  float: none;
  justify-content: center;
  display: inline-flex;
  margin: 0;
}

.lefted
{
  float: none;
  justify-content: center;
  display: inline-flex;
  margin: 0;
}

.dropdown {
  overflow: hidden;
  display: inline-block;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  font-weight: bold;
  z-index: 100;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  color: #81040a;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #24252a;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 100;
}

.dropdown-content a {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  color: #81040a;
}

.dropdown:hover .dropdown-content {
  display: block;
}
